<div class="row page-content">
    <div class="col-sm-4 col-sm-offset-4 text-center login-div">
        <div class="title-brand">
        </div>

          <div>
              <p>
                  <button @onclick="@TryExternalLogin" class="btn btn-primary btn-lg" name="provider" value="SAML">Log in with SSO</button>
              </p>
          </div>
    </div>
</div>
